<div [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="background" flex>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>
        <i class="fas fa-bars fa-lg"></i>
      </mat-icon>
    </button>
    <h2 class="h2">{{currentpage}}</h2>
    <span class="app-toolbar-filler"></span>
    <img src="../assets/logo.png" [hidden]="isMobile" alt="Sierrazone" srcset="" height="55">
    <span class="app-toolbar-filler"></span>
    <button mat-icon-button (click)="isDarkTheme = !isDarkTheme">
      <mat-icon>
        <i class="fas fa-moon fa-lg"></i>
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
        <i class="fas fa-user-circle fa-lg"></i>
      </mat-icon>

    </button>
    <mat-menu #menu="matMenu">
      <button #settingsBtn mat-menu-item routerLink="/settings" class="app-menu-button" routerLinkActive="active">
        <mat-icon><i class="fas fa-wrench fa-lg"></i></mat-icon>
        <span>Settings</span>
      </button>
      <button #logoutBtn mat-menu-item (click)="logout()">
        <mat-icon><i class="fas fa-sign-out-alt fa-lg"></i></mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container fullscreen class="sidenav-container" style="top: 64px !important;">
    <!--Sidenav provides following modes: pusk, over, side-->
    <mat-sidenav #snav mode="over" class="app-sidenav">
      <mat-nav-list class="all-list">
          <a #linkhome mat-list-item routerLink="/home" class="app-menu-button" routerLinkActive="active" (click)="snav.toggle()">Home</a>
        <!-- Hier Menüpunkte einfügen-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
